& {
  background-color: $dark-grey;
  padding: 0.5em;
  font-size: 1em;
  color: $off-white;
  justify-content: space-between;
  transition: background-color 0.25s ease;
}

a {
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
}

.syncInfo {
  font-weight: 600;
}

.versionInfo {
  text-align: right;
}

&.syncing {
  background-color: $hot-pink;
  color: $slate;
}

.icon {
  margin-right: 0.5em;
  font-size: 1.1em;
}
