<div class="syncInfo row center">
  {{#if remoteSync.allSynced}}
    <i class="material-icons icon">check</i>
    <span>Synced</span>
  {{else}}
    <i class="material-icons icon spinLeft">loop</i>
    <span>Syncing data...</span>
  {{/if}}
</div>

<span class="versionInfo">
  {{gitVersion}}
</span>
