.maxHeight {
  min-height: 100vh;
}

.section {
  padding: 0.5em;
  margin: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.baseline {
  align-items: baseline;
}

.vcenter {
  align-items: center;
}

.relative {
  position: relative;
}

.absFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollContentY {
  height: 100%;
  overflow-y: auto;
}

.stretch {
  flex: 1;
}


.toolbarContainer {
  margin: 1em;
}
