& {
  justify-content: space-between;
  align-items: center;
  background: $sky-blue;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9em;
  a {
    text-decoration: none;
    color: white;
  }
}

.name {
  font-size: 0.8em;
  border-right: 1px solid white;
  margin-right: 1em;
  padding-right: 1em;
}
