&.hidden {
  display: none;
}

&{
  margin: 0 1em;
  background: $hot-pink;
  padding: 0.5em;
  margin-bottom: 1em;
  color: $off-white;
  align-items: center;
}

.content {
  font-size: 1.2em;
}

.title {
  margin-right: 0.5em;
  font-style: italic;
}
