<div class="ui">
  {{ui/icon-button
      icon="clear"
      size=1
      color=white
      flat=true
      backgroundColor=colors.DARK_GREY
      onClick=(action "clearSignature")}}
</div>

<canvas></canvas>

<div class="sigLine row">
  <span>x</span>
</div>
