<div class="col">
  <span class="date">
    {{moment-format model.date "ddd - MM-DD-YY"}}
  </span>
  <span class="col routeVisitCount">
    <span>Total stops: {{model.routeVisits.length}}</span>
    <span>Pending stops: {{model.pendingRouteVisits.length}}</span>
  </span>
</div>
