<header class="col">
  <span class="formTitle">
    {{title}}
  </span>
  <div class="row space-between">
    <span class="titleLabel">
      Item Name
    </span>
    <div>
      <span class="startingLabel">
        Starting
      </span>
      <span class="returnsLabel">
        Returns
      </span>
    </div>
  </div>
</header>
{{#each model as |stockLevel index|}}
  {{ui/item-tracker stockLevel index=(inc index)}}
{{/each}}
