& {
  margin: 0.5em;
  padding-bottom: 0.5em;
  background-color: $light-blue;
}

.header {
  background-color: #FAFCFC;
  color: $dark-grey;
  padding-bottom: 1em;
  padding-left: 0.5em;

  .title {
    font-weight: bold;
    justify-content: center;
    font-size: 1.4em;
    margin-right: 0.25em;
  }

  .number {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.0em;
  }

  .date {
    font-style: italic;
  }

  .location {
    font-size: 1em;
  }
}

.infoContainer {
  margin-top: 0.5em;
}

.rowContainer {
  padding-bottom: 0.5em;
}
