<div class="col itemTrackerContainer stretch">
  {{ui/item-counter
    label="Total Starting"
    value=starting
    class="starting"
    valueChanged=startingChanged}}

  {{ui/item-counter
    label="Returns"
    value=returns
    class="returns"
    valueChanged=returnsChanged}}
</div>
