{{#ember-wormhole to="navHeaderContainer"}}
  {{headers/location-tracking-info model=model.order.location}}
{{/ember-wormhole}}

{{lists/item-level-list
    model=model.stock.stockLevels
    onClick=(route-action "trackItem")}}

<div class="row center">
  <div class="card-1">
    {{ui/icon-button
      icon="done_all"
      label="Mark Tracked"
      class="markTracked"
      size="2"
      color=white
      backgroundColor=colors.DARK_GREY
      onClick=(route-action "markAllCompleted")
    }}
  </div>
</div>
