{{#ember-wormhole to="navHeaderContainer"}}
  {{headers/item-tracking-info model=item}}
{{/ember-wormhole}}

<div class="col">
  {{ui/item-tracker
      starting=stockLevel.starting
      returns=stockLevel.returns
      startingChanged=(route-action 'startingChanged' stockLevel fulfillment)
      returnsChanged=(route-action 'returnsChanged' stockLevel fulfillment)}}

  <div class="row center">
    <div class="card-1">
      {{ui/icon-button
          icon='done_all'
          label='Mark Tracked'
          size='2'
          color=white
          class="markTracked"
          backgroundColor=colors.DARK_GREY
          onClick=(route-action 'markCompleted' stockLevel)}}
    </div>
  </div>
</div>
