{{#ember-wormhole to="navHeaderContainer"}}
  {{headers/fulfillment-info model=model}}
{{/ember-wormhole}}

{{#if model.belongsToSalesOrder}}
  {{ui/drilldown-button
    icon="assignment_turned_in"
    label="Track Inventory"
    class="trackInventory"
    completed=trackingCompleted
    onClick=(route-action "track")}}
{{/if}}

{{ui/drilldown-button
  icon="touch_app"
  label="Review & Sign"
  completed=model.pod.isValid
  onClick=(route-action "review")}}

<div class="row center">
  <div class="card-1">
    {{ui/icon-button
      class="submitRouteVisit"
      icon="done"
      label=(if model.routeVisit.hasMultipleFulfillments "Submit Order" "Complete Visit")
      size="2"
      color=white
      backgroundColor=colors.DARK_GREY
      disabled=(not model.isSubmissible)
      onClick=(route-action 'submit' model)}}
  </div>
</div>
