{{#ember-wormhole to="navHeaderContainer"}}
  {{headers/fulfillment-info model=model}}
{{/ember-wormhole}}

{{lists/stock-levels model.stock.desiredItemStockLevels "Main products"}}

{{lists/stock-levels model.stock.extraItemStockLevels "Other products"}}

<div class="row center">
  <div class="card-1">
    {{ui/icon-button
      icon="done_all"
      label="Mark Tracked"
      class="markTracked"
      size="2"
      color=white
      backgroundColor=colors.DARK_GREY
      onClick=(route-action "markAllCompleted")}}
  </div>
</div>
