& {

}

.alert {
  background-color: $dark-green;
  padding: 1em;
  margin: 0 1em 1em 1em;
  color: $off-white;
}

.completeMessage {
  font-size: 1.5em;
  font-weight: bold;
}

i {
  margin-left: 0.5em;
  font-size: 2em;
}
