& {
  justify-content: space-between;
  padding: 0.3em 0.5em;
}

&:nth-child(odd) {
  background-color: #DEF6F9;
}

.currency {
  font-weight: 600;
}

.quantityContainer {
  padding-left: 0.5em;
  font-size: 0.9em;
}

.editCurrencyContainer {
  margin-right: 1em;
}

.editQuantityContainer {

}

.unitPriceContainer {
  width: 3.2em;
}

.quantityContainer {

}

.x {
  font-style: italic;
  font-size: 0.6em;
  margin-right: 0.3em;
}

input {
  border: none;
  margin-left: 0.25em;
  width: 3em;
  font-size: 1.3em;
  padding: 0.25em;
}

.editUnitPriceContainer {
  margin-right: 1em;
}

.editQuantityContainer {
  input {
    width: 1.3em;
  }
}
